<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AgenciasMapper">

	<select id="selectAgencias" resultType="com.cm.solidappservice.model.agencias.bd.AgenciaMD">
		SELECT  n_latitu,
 			n_longit,
			 n_sucurs,
			 i_tipage,
			 k_sucurs,
			 d_sucurs,
			 n_depart,
			 n_ciudad,
			 t_sucurs
		FROM TAB_APPAGENCIA
	</select>

	<select id="selectAllContactos" 
		resultType="com.cm.solidappservice.model.agencias.bd.ContactoAgenciaMD">
		SELECT * 
		FROM TAB_APPDCONTACTO 
	</select>

	<select id="selectContactos" 
		resultType="com.cm.solidappservice.model.agencias.bd.ContactoAgenciaMD" 
		parameterType="com.cm.solidappservice.model.agencias.bd.ContactoAgenciaMD">
		SELECT * 
		FROM TAB_APPDCONTACTO 
		WHERE I_TIPAGE = #{i_tipage} AND K_SUCURS = #{k_sucurs}
	</select>
	
</mapper>